[Unit]
Description=Hostapd IEEE 802.11 AP
After=sys-subsystem-net-devices-uap0.device
BindsTo=sys-subsystem-net-devices-uap0.device
Conflicts=wpa_supplicant-nl80211@wlan0.service

[Service]
Type=forking
PIDFile=/run/hostapd.pid
ExecStart=/usr/sbin/hostapd /etc/hostapd.conf -P /run/hostapd.pid -B

[Install]
WantedBy=multi-user.target
